.titulo{
    color: brown;
    text-align-last: center; 
    margin-top: 30px;
    margin-bottom: 15px;
}

.laroja{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 50em;
}

.laroja2010{
    width: 30em;
    text-align: center;
    margin-top: -17em;
    margin-left: 10em;
}

.cuerpo12{
    size: 1px;
    text-align: center;
    margin-top: 1em;
    color: #333333;
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}








.pata1{
    size: 200em;
    text-align: center;
    margin-top: 1em;

}
.fotoroja{
    width: 40em;
    text-align: center;
    margin-top: 2em;
    margin-left: 25em;
}
.tuetue{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;
}
.pata2{
    size: 200em;
    text-align: center;
    margin-top: 1em;

}
.fotosala{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;

}
.pata3{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;
}
.alexis1{
    size: 200em;
    text-align: center;
    margin-top: 1em;

}
.fotoalexis{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;


}
.pata4{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;

}
.pata5{
    size: 200em;
    text-align: center;
    margin-top: 1em;
}
.vidal1{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;
}
.pata6{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;

}
.pata7{
    size: 200em;
    text-align: center;
    margin-top: 1em;

}
.pata8{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;
}
.fotocharli{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;
}
.pata9{
    size: 200em;
    text-align: center;
    margin-top: 1em;

}
.ivanfoto{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;
}
.pata10{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;
}




.mejores1{
    text-align: center;
    size: 200em;
    margin-top: 1em;
    margin-left: 50px;
}


.sapo{
    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;
} 

.chupetefoto{
    width: 20em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30em;

}
.fototuro{

    width: 30em;
    text-align: center;
    margin-top: 2em;
    margin-left: 30px; 
}
.a{
    size: 200em;
    text-align: center;
    margin-top: 1em;


}
.paraem{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3em;
}
.pantufla{

    text-align: center;
    size: 200em;
    margin-top: 1em;
    margin-left: 50px;
}
.turox{
    text-align: center;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 3em;
}

.losk{
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.caca1{
    margin-top: -350px;
    margin-left: 100px;
}
.caca2{
    margin-left: 60px;
    margin-top: 50px;
}
.caca3{
    margin-left: 60px;
    margin-top: 50px;
}
.caca4{
    margin-left: 60px;
    margin-top: 50px;
}
.caca5{
    margin-left: 60px;
    margin-top: 50px;
}
.yofoto{
    margin-left: 500px;
    width: 500px;
}
.caca6{
text-align: center;
}
.caca7{
    text-align: center;
    }