body{
	background:#F2F3F4;
	font-family: georgia,times;
	color:#17202A; 
	font-size:1.2rem;
	line-height:1.6em;
	margin:0;
}

h1{
	font-size:2rem;
	line-height:1.3em;
}

p{
	margin-bottom:1.8em;
}
.container{
	width:80%;
	max-width:850px;
	margin:0 auto;
}

.header{
	background:#424949;
	color:white;
	padding:2rem 0;
}
 .header a{
 	color:white;
 	text-decoration:none;
 	border-radius:50px;
 }

.logo-nav-container{
	display:flex;
	justify-content:space-between;
	align-items: center;
}
.logo{
	letter-spacing: 10px;
	font-size: 1.2em;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation ul li{
	display: inline-block;

}
.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear

}
.navigation ul li a: hover{
	background: #f56f3a;
}

.footer{
	background:#B3B6B7;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6rem;									
}